*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: #f5f5ef;
}

.Display.box {

  width:50px;
  max-width: 450px;
  height: 10vh;

}

.flexbox {
  display: flex;
  justify-content: space-between;

  width:100%;
  max-width: 350px;
  height: 10vh;

  overflow: hidden;

  margin: 0 auto;
  padidng: 15px;
}

.flexbox .board{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 100px;

  background-color:  #ff99ff;

  padding: 5px;
}

.flexbox .board .card{
  padding:0px 2px;
  background-color: #cc99ff;

  cursor: pointer;
  margin-bottom: 15px;
}