*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: bisque;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width:100%;
  max-width: 350px;
  height: 10vh;

  overflow: hidden;

  margin: 0 auto;
  padidng: 15px;
}

.flexbox .board{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 100px;

  background-color: #282c34;

  padding: 5px;
}

.flexbox .board .card{
  padding:0px 2px;
  background-color: brown;

  cursor: pointer;
  margin-bottom: 15px;
}